<!DOCTYPE html>
<html>
<head>
	<title>Grundfos</title>
	<link rel="stylesheet" type="text/css" href="stylesheet/styles.css">
</head>
<body>
<main id="app">

  <figure class="search-wrapper">
      <input type="text" v-model="keyword" placeholder="Search Title..."/>
  </figure>
  <figure id="separator"><h2>Search Results<h2></figure>
  <section class="wrapper">
    <div class="card" v-for="post in filteredList">
      <a v-bind:href="post.link" target="_blank">
        <img v-bind:src="post.img"></img>
      <small>Made in {{post.author}}      
        </small>
      {{post.title}}
      </a>
    </div>
  </section>
  <figure id="separator"><h3>Your Items<h3></figure>
  <figure id="separator"><h4>Your latest searches<h4></figure>
</main>


<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.js"></script>
<script src="js/search.js"></script>
</body>
</html>
